In [1]:
import pandas as pd

## Reading DataSet

In [2]:
df=pd.read_csv("lottery_data.csv")

## Head of Dataset

In [7]:
df.head()

         date weekday winning_numbers  powerball  powerplay    jackpot
0  2014-05-07     Wed  17-29-31-48-49         34          2   70000000
1  2014-05-10     Sat   4-31-41-47-55          1          2   90000000
2  2014-05-14     Wed   7-33-39-52-55         33          3   90000000
3  2014-05-17     Sat  23-32-39-47-49         22          3  114000000
4  2014-05-21     Wed   4-20-34-39-58         31          5  114000000

In [5]:
df.shape

(950, 6)